<!-- product/spec-edit/memory-spec-edit.html -->
<div class="spec-card">
    <h3>RAM - Thông số kỹ thuật</h3>

    <label>Dung lượng (GB):</label>
    <input type="number" name="mem.capacity"
           th:value="${mem != null} ? ${mem.capacity} : ''" min="0"/>

    <label>Chuẩn RAM:</label>
    <input type="text" name="mem.type"
           th:value="${mem != null} ? ${mem.type} : ''"
           placeholder="VD: DDR4, DDR5"/>

    <label>Xung (MHz):</label>
    <input type="number" name="mem.speed"
           th:value="${mem != null} ? ${mem.speed} : ''" min="0"/>

    <label>TDP (W):</label>
    <input type="number" name="mem.tdp"
           th:value="${mem != null} ? ${mem.tdp} : ''" min="0"/>
</div>
