<div>
    <h4>CPU - Specification</h4>

    <label>Socket:</label>
    <input type="text" name="cpu.socket" placeholder="VD: LGA1700" required>

    <label>TDP (W):</label>
    <input type="number" name="cpu.tdp" min="1" required>

    <label>Speed Ram (MHz):</label>
    <input type="number" name="cpu.maxMemorySpeed" min="800">

    <label>RAM's Channels:</label>
    <input type="number" name="cpu.memoryChannels" min="1">

    <label>Have iGPU:</label>
    <select name="cpu.hasIGPU">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>

    <label>PCIe Version:</label>
    <input type="text" name="cpu.pcieVersion" placeholder="VD: PCIe 5.0">
</div>
