<div>
    <h4>GPU - Specification</h4>

    <label>VRAM (GB):</label>
    <input type="number" name="gpu.vram" min="1" required>

    <label>Memory Type:</label>
    <input type="text" name="gpu.memoryType" placeholder="VD: GDDR6, HBM2" required>

    <label>TDP (W):</label>
    <input type="number" name="gpu.tdp" min="1" required>

    <label>Length (mm):</label>
    <input type="number" name="gpu.length" min="1">

    <label>Interface:</label>
    <input type="text" name="gpu.gpuInterface" placeholder="VD: PCIe 4.0 x16">

    <label>PCIe Version:</label>
    <input type="text" name="gpu.pcieVersion" placeholder="VD: PCIe 4.0">
</div>
