<div>
    <h4>Storage - Specification</h4>

    <label>Storage (GB):</label>
    <input type="number" name="storage.capacity" min="1" required>

    <label>Type:</label>
    <input type="text" name="storage.type" placeholder="VD: SSD, HDD, NVMe" required>

    <label>Interface:</label>
    <input type="text" name="storage.interfaceType" placeholder="VD: SATA, PCIe Gen4x4" required>

    <label>Reading Speed (MB/s):</label>
    <input type="number" name="storage.readSpeed" min="1">

    <label>Writing Speed (MB/s):</label>
    <input type="number" name="storage.writeSpeed" min="1">
</div>
