server:
  port: 8081

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/pconlineshop
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update   # có thể đổi sang validate/create/drop tuỳ mục đích
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  mail:
    host: smtp.gmail.com
    port: 587
    username: your_email@gmail.com
    password: your_app_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  # OpenAI Configuration
  ai:
    openai:
      api-key: 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
      chat:
        options:
          model: gpt-4o-mini
          temperature: 0.7
#logging:
#  level:
#    org.springframework: DEBUG
