<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Customer</title>
    <link rel="stylesheet" href="/css/StaffStyle.css">
</head>
<body>
<div>
    <div class="header">
        <h2>View Customer</h2>
    </div>

    <div class="content">
        <form>
            <table>
                <tr>
                    <td>ID:</td>
                    <td><input type="text" th:value="${account.accountId}" readonly/></td>
                </tr>
                <tr>
                    <td>First Name:</td>
                    <td><input type="text" th:value="${account.firstname}" readonly/></td>
                </tr>
                <tr>
                    <td>Last Name:</td>
                    <td><input type="text" th:value="${account.lastname}" readonly/></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input type="email" th:value="${account.email}" readonly/></td>
                </tr>
                <tr>
                    <td>Phone:</td>
                    <td><input type="text" th:value="${account.phoneNumber}" readonly/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" th:value="${account.address}" readonly/></td>
                </tr>
                <tr>
                    <td>Status:</td>
                    <td>
                        <input type="text" th:value="${account.enabled ? 'Active' : 'Inactive'}" readonly/>
                    </td>
                </tr>
            </table>

            <a href="/customer/list">← Back</a>
        </form>
    </div>
</div>
</body>
</html>
